/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif!important;
  min-height: 100vh;
  .general-container{
    padding: 8rem 10rem;
  }
}

@media screen and (max-width: 992px) {
  body {
    .general-container{
      padding: 8rem 0;
    }
  }
}
