#productos-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .titles {
    padding: 1em;
    background-color: white;
  }

  .container-cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .button-catalogo {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      button:hover {
        background-color: #75C294;

        a {
          color: white;
        }
      }

      button {
        transition: 300ms linear;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        border: 2px solid #75C294;

        a {
          font-size: .7em;
          text-decoration: none;
          color: #75C294;
        }
      }
    }

    img {
      max-height: 170px;
    }

    .description-card {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 992px) {

  #productos-container {
    .description-card {
      font-size: .7rem;
    }
  }
}
